<mat-card>
  <p>
    Prikazani projekat predstavlja projekat iz predmeta <b>Razvoj višeslojnih
      aplikacija.</b>
  </p>
  <p>Projekat predstavlja Zadatak broj 2. Zadatak se sastoji od 4 tabele:</p>
  <ul>
    <li>Klijent</li>
    <li>Kredit</li>
    <li>Tip računa</li>
    <li>Račun</li>
  </ul>
  <p>
    Za sve četiri navedene tabele, omogućene su CRUD operacije - prikaz,
    dodavanje, izmena i brisanje.
  </p>
  <p>
    Projekat sa navedenim tabelama, predstavlja <b>simulaciju rada banke</b>, odnosno unos klijenata, kredita, računa klijenata, i tipova tih računa.
  </p>
  <p>
    Klikom na deo sa leve strane <b>Aplikacija</b> - prikazuju se tabele - klikom na neku od tabela omogućava se CRUD za tu tabelu.
  </p>
  <p>
    Klikom na deo sa leve strane <b>Informacije</b> - može se pristupiti osnovnim informacijama o autoru i o samom zadatku.
  </p>
</mat-card>
