<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side"  [opened]="openSidenav">
      <mat-accordion>
          <a mat-button style="text-align: center">
              <mat-icon color="primary" routerLink = '/home'>
                  home
              </mat-icon>
          </a>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Aplikacija
                  </mat-panel-title>
                  <mat-panel-description>
                      Aplikacija za vodjenje evidencije
                  </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-button color="accent" routerLink = '/tipracuna'>Tip računa</a>
              </mat-nav-list>
              <mat-nav-list>
                  <a mat-button color="accent" routerLink = '/klijent'>Klijent</a>
              </mat-nav-list>
              <mat-nav-list>
                <a mat-button color="accent" routerLink = '/kredit'>Kredit</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Informacije
                  </mat-panel-title>
                  <mat-panel-description>
                      Osnovne informacije o aplikaciji
                  </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-button color="accent" routerLink = '/home'>Početna</a>
              </mat-nav-list>
              <mat-nav-list>
                  <a mat-button color="accent" routerLink = '/author'>Autor</a>
              </mat-nav-list>
              <mat-nav-list>
                  <a mat-button color="accent" routerLink = '/about'>O nama</a>
              </mat-nav-list>
          </mat-expansion-panel>
          <a mat-button style="text-align: center" color='primary' (click) ='sidenav.toggle()'class ='toogleSidenav'[ngClass]="showToggle">
            <mat-icon>close</mat-icon>Zatvori Meni
          </a>
      </mat-accordion>

  </mat-sidenav>
  <button mat-icon-button color='primary' (click) ='sidenav.toggle()'class ='toogleSidenav'[ngClass]="showToggle">
    <mat-icon>menu</mat-icon>Meni
   </button>
  <router-outlet></router-outlet>
</mat-sidenav-container>
